.header {
  align-items: center;
  display: flex;
}

.header-logo {
  align-items: center;
  background-color: transparent;
  border-radius: 9999px;
  color: rgba(29, 161, 242, 1);
  display: inline-flex;
  height: 48px;
  justify-content: center;
  transition: background-color 0.2s;
  width: 48px;
}

.header-logo:hover {
  background-color: rgba(29, 161, 242, 0.1);
}

.header-nav {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

.header-nav a {
  padding-right: 5px;
  padding-left: 5px;
}

.header-nav .header-nav-item {
  align-self: center;
  margin-left: 8px;
}

.header-nav .active {
  color: rgba(29, 161, 242, 1);
}

.header-nav .selected {
  color: rgb(242, 29, 224);
}

.header-button {
  width: 144px;
  margin-left: 10px;
}