.newTweetPage {
  display: flex;
  padding: 10px 15px 0 15px;
}

.newTweetPage-textarea {
  height: 120px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(230, 236, 240);
}

.newTweetPage-footer {
  align-items: center;
  display: flex;
}

.newTweetPage-characters {
  color: rgb(29, 161, 242);
}

.newTweetPage-submit {
  margin-left: auto;
}

.newTweetPage-error {
  width: calc(100% - 30px);
  margin: 0 auto;
  background-color: rgb(224, 36, 94, 0.1);
  border: 1px solid rgba(224, 36, 94, 0.2);
  border-radius: 5px;
  color: rgb(224, 36, 94);
  margin-top: 60px;
  padding: 10px 15px;
}